* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../images/app_background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.base {
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.logo-container img {
    width: 100%;
    max-width: 271px;
    height: auto;
}

.data input {
    width: 100%;
    max-width: 592px;
    height: 40px;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.data p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.password-container {
    position: relative;
    margin-top: 20px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 48px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../../images/show_password.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.button-container {
    text-align: center;
}

button {
    width: 100%;
    max-width: 230px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    color: white;
    background-color: #45a049;
}

.inscription-link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inscription-link a {
    font-size: 18px;
    color: #1855F1;
    text-decoration: none;
}

.inscription-link a:hover {
    color: #005580;
}
