* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0; /* Couleur de fond de secours */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/app_background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.logo {
    max-width: 200px; /* Largeur maximale de l'image */
}

.base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Déplacer le centre de la boîte vers le milieu de la page */
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
