* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url('../../images/app_background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #34495e; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: visible;
}

.navbar a, .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.navbar a:hover {
    background-color: #2c3e50; 
    color: #fafafa;
}

.navbar-logo {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-logo img.logo {
    height: 60px;
    width: auto;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 80px;
}

.navbar-links a {
    padding: 10px 20px;

}
.navbar-logo a {
    padding: 10px 20px;

}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.navbar a {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}




.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #34495e;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ddd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.decoModal-content{
    position: relative;
    background-color: #fff;
    margin: 10% auto 20%;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    animation-name: modalFadeInUp;
    animation-duration: 0.5s;
}

@keyframes modalFadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.decoModal-content button {
    flex: 1; 
    padding: 12px 20px; 
    font-size: 18px; 
    background-color: white;
    margin: 0 10px; 
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.decoModal-content button:first-child {
    margin-left: 0;
}

.decoModal-content button:last-child {
    margin-right: 0;
}

.decoModal-content button#logoutConfirm {
    margin: auto 10px;    
}
.decoModal-content button#logoutConfirm:hover {
    background-color: #45a049; 
    color: white; 
}

.decoModal-content button#logoutCancel:hover {
    background-color: #e60000; 
    color: white; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.decoModal-content p {
    font-family: 'Poppins', sans-serif; 
    font-size: 20px; 
    font-weight: 600; 
    margin-bottom: 30px; 
    color: #333; 
    line-height: 1.6; 
    text-align: center; 
}
.decoModal-content button:hover {
    opacity: 0.9; 
}

.base {
    margin-top: 5px; /* Ajuster l'espacement supérieur */
    padding: 0; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    width: 100%; /* Prendre toute la largeur */
    max-width: none; /* Enlever la largeur max */
}

/* Layout pour le chat */
.chatLayout {
    display: flex;
    width: 100%;
}

/* Styles de la liste de conversations */
.conversationsList {
    width: 25%; /* Largeur de la liste des conversations */
    padding: 10px;
    background-color: #fff;
    height: calc(100vh - 120px); /* Ajuste pour la navbar et le footer */
    overflow-y: auto;
}
#conversationsList li {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#conversationsList li:hover {
    background-color: #f5f5f5;
}

#conversationsList li:last-child {
    border-bottom: none;
}

/* Styles pour chaque conversation */
.conversation-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Ajoute un trait horizontal entre chaque conversation */
.conversation-item:not(:last-child) {
    border-bottom: 1px solid #ddd; /* Ligne horizontale */
}

.conversation-item:hover {
    background-color: #f0f0f0; /* Couleur au survol */
}




.loader {
    font-size: 16px;
    color: #3498db; /* Couleur du texte */
    text-align: center;
    margin: 10px 0;
}


/* Style pour le dernier message */
.last-message {
    font-size: 14px; /* Taille du texte pour le dernier message */
    color: #888; /* Couleur grise pour le texte du dernier message */
}
/* Styles du conteneur de chat */
/* Styles du conteneur de chat */
#chatContainer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative; /* Nécessaire pour positionner les éléments enfants */
}

/* Styles du conteneur de messages */
#messagesContainer {
    display: flex;
    flex-direction: column; /* Colonne pour empiler les messages */
    overflow-y: auto; /* Ajout de la scrollbar */
    flex: 1; /* Prendre l'espace disponible */
    padding: 10px; /* Padding autour des messages */
    max-height: 500px; /* Ajustez cette valeur selon vos besoins */
    
}

/* Styles des messages */
#messagesContainer .message {
    margin: 10px 0;
    padding: 10px 15px; /* Ajout de padding */
    border-radius: 20px; /* Forme de bulle */
    max-width: 70%; /* Limiter la largeur des messages */
    display: inline-block; /* Pour rendre le fond visible comme une bulle */
}

/* Messages envoyés */
#messagesContainer .message.sender {
    background-color: #3498db; /* Couleur des messages envoyés */
    color: white;
    align-self: flex-end; /* Aligner à droite */
    text-align: right; /* Alignement du texte à droite */
}

/* Messages reçus */
#messagesContainer .message.received {
    background-color: #f1f1f1; /* Couleur des messages reçus */
    color: black;
    align-self: flex-start; /* Aligner à gauche */
    text-align: left; /* Alignement du texte à gauche */
}

/* Styles pour le champ de saisie et le bouton */
.message-input-container {
    display: flex;
    align-items: center; /* Aligner verticalement */
    position: fixed; /* Fixe en bas du conteneur */
    bottom: 60px; /* Ajustez selon vos préférences */
    left: 280px; /* Ajustement pour le padding */
    right: 10px; /* Ajustement pour le padding */
    background-color: white; /* Fond blanc pour l'input */
    padding: 10px; /* Espacement autour de l'input */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

#messageInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1; /* Prendre tout l'espace disponible */
    margin-right: 5px; /* Espacement avec le bouton */
}

#sendMessageBtn {
    padding: 0; /* Supprimer le padding pour centrer l'icône */
    background: none; /* Aucune couleur de fond */
    border: none; /* Aucune bordure */
    cursor: pointer;
}

#sendMessageBtn:hover i {
    color: #2980b9; /* Changer la couleur au survol */
}

.chat-header {
    background-color: #34495e; /* Couleur du bandeau */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement autour du texte */
    border-radius: 10px 10px 0 0; /* Coins arrondis en haut */
    text-align: center; /* Centre le texte */
}


